.container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.innerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 50%;
  gap: 1rem;
  height: 100%;
}

.conversationToolbar {
  --disconnect-button-size: 48px;
  --toolbar-gap: 12px;
  display: flex;
  gap: var(--toolbar-gap);
  align-items: center;
  position: relative;
}

.conversationToolbarInner {
  transition: transform 0.3s ease;
  transform: translateX(calc(var(--toolbar-gap) + var(--disconnect-button-size) / 2));
}

.conversationToolbarInner.active {
  transform: translateX(-calc(var(--toolbar-gap) / 2 + var(--disconnect-button-size) / 2));
}

.disconnectButton {
  opacity: 0;
  scale: 0.8;
  transform: translateX(-50%);
  transition: transform, opacity 0.3s ease;
}

.disconnectButton.active {
  scale: 1;
  transform: translateX(calc(var(--toolbar-gap) / 2));
  opacity: 1;
}

.button {
  background-color: #212121;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  line-height: 150%;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 2px 4px 30px 0px rgba(1, 1, 1, 0.1);
}

.visualizerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 136px;
  width: 100%;
}

.relativePosition {
  position: relative;
}

.error {
  color: red;
  margin: 0 auto;
}


